.DS_Store
**/.DS_Store
*.mp4
*.mov
Intel/Experience Map Test Ground/*.png
Intel/BT Reseller Admin Prototype/fonts/
Intel/Prototype/
Intel/BT Reseller Admin Prototype/_ds/
Intel/business-zone-ordering-guide-whc.docx
